/* * */
/* BADGE */

.root {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 65px;
	max-width: 65px;
	min-height: 26px;
	max-height: 26px;
	font-size: 16px;
	font-weight: var(--font-weight-extrabold);
	line-height: 1;
	color: var(--color-system-background-100);
	letter-spacing: 1px;
	background-color: var(--color-system-text-200);
	border-radius: 999px;
}