/* * */
/* ROOT */

.root {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 1px;
	width: 100%;
	font-size: 14px;
}

.root div {
	width: 100%;
	background-color: aqua;
}

/* * */
/* TITLE & SUBTITLE */

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 30px;
	font-weight: 700;
	color: var(--color-system-text-200);
	text-align: center;
}

.subtitle {
	font-weight: 400;
}