/* * */
/* ROOT */

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

/* * */
/* LIST WRAPPER */

.listWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: flex-start;
	width: 100%;
}