/* * */
/* ROOT */

.root {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

/* * */
/* LIST WRAPPER */

.listWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: flex-start;
	width: 100%;
}

/* * */
/* TOKEN INFO */

.tokenInfo {
	font-size: 14px;
	font-weight: var(--font-weight-medium);
	color: var(--color-system-text-300);
	text-align: center;
}

.tokenValue {
	display: block;
	font-weight: var(--font-weight-bold);
}